<div class="page-content col-xs-10 col-xs-offset-1">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Saying</th>
        <th>Author</th>
        <th>Actions</th>
      </tr>
    </thead>
    <%= for quote <- @quotes do %>
    <tr>
      <td>
        <a href="<%= quote_path(@conn, :show, quote.id) %>">
          <%= quote.saying %>
        </a>
      </td>
      <td>
        <%= quote.author %>
      </td>
      <td>
        <a href="<%= quote_path(@conn, :edit, quote.id) %>" class="btn btn-danger">
          Edit
        </a>
        <a href="<%= quote_path(@conn, :delete, quote.id) %>" class="rest btn btn-danger" data-method="DELETE">
          Destroy
        </a>
      </td>
    </tr>
    <% end %>

  </table>
</div>
