<div class="col-xs-10 col-xs-offset-1">
  <h1>New Quote</h1>
  <form action="<%= quote_path(@conn, :create) %>" method="post">
    <input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">
    <div class="form-group">
      <label for="quote[saying]">saying</label>
      <input type="text" name="quote[saying]" class="form-control" />

      <label for="quote[author]">author</label>
      <input type="text" name="quote[author]" class="form-control" />

    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
