<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Splurty!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/home.css") %>">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  </head>

  <body class="site">
    <div class="container">
      <header>
        <div class="col-xs-6">
          <div class="circle">
            <br />
            Elixir &
            <br />
            Erlang
            <br />
            Rock!
          </div>
        </div>

        <div class="col-xs-6 text-right">
          <a href="<%= quote_path(@conn, :new) %>">Contribute</a>
        </div>
      </header>

      <hr class="clear col-xs-12"/>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main" class="site-content">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer>
        <div class="col-xs-6">
          <a href="<%= quote_path(@conn, :homepage)%>">
            This isn't enough, I need more
          </a>
        </div>
        <div class="col-xs-6 text-right">
          <a href="http://elixir-lang.org">
            <img src="/images/logo.png"/>
          </a>
          <a href="http://www.phoenixframework.org/">
            <img src="/images/poweredby-phoenix-badge1-01.png" />
          </a>
        </div>
      </footer>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="<%= static_path(@conn, "/js/jquery.restfulizer.js") %>"></script>
    <script>
      $(function() {
        $(".rest").click(function(d) {
          $('form').submit(function(s) {
            var input = $("<input>")
            .attr("type", "hidden")
            .attr("name", "_csrf_token").val("<%= get_csrf_token() %>");
            $(s.target).append($(input));
          });
        });
        $(".rest").restfulizer({});
      });
    </script>
  </body>
</html>
